<%inherit file="/base.html"/>

<%block name="content">
<div class="performance" id="app">

    <i-form class="select">
        <Form-item label="选择业务">
            <i-select v-model="bizModel" style="width: 45%">
                <i-option v-for="item in bk_biz_id" :value="item.bk_biz_id"
                          :key="item.bk_biz_name">{{ item.bk_biz_name }}</i-option>
            </i-select>
            <i-input v-model="ip_list" placeholder="请输入IP" style="width: 45%"/>
        </Form-item>
        <i-button type="primary" @click="display_performance" style="margin-left: 40%">查询性能</i-button>
    </i-form>
    <div v-for="item in elements" :id="item.element_name"
         style="height:250px; margin-top: 50px; width: 80%; margin-left: 10%"></div>
</div>
</%block>

<script>
    Vue.prototype.$http = axios;
    let vm = new Vue({
        el: "#app",
        data: {
            pfm_data_list: [],
            ip_list: '',
            bizModel: '',
            bk_biz_id: [],
            elements: []
        },
        methods: {
            get_biz() {
                let self = this;
                let url = site_url + 'get_biz/';
                this.$http.get(url).then(response => {
                    self.bk_biz_id = response.data.data;
                }).catch(error => {
                    console.log(error)
                });
            },
            generate_graph(element_name, pfm_data) {
                let myChart = echarts.init(document.getElementById(element_name));
                let legendData = [];
                // 曲线名,mem,cpu,disk
                for (let i = 0; i < pfm_data.series.length; i++) {
                    legendData.push(pfm_data.series[i].name)
                }
                myChart.setOption({
                    title: {
                        show: true,
                        text: pfm_data.title + '主机近一小时状态数据',
                        x: 'center'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        y: 'bottom',
                        data: legendData
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            data: pfm_data.xAxis
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            splitArea: {show: true},
                            max: 100,
                            min: 0,
                            name: '单位(%)'
                        }
                    ],
                    series: pfm_data.series
                });
            },
            display_performance() {
                let url = site_url + 'display_performance/';
                let params = {
                    bk_host_innerip__in: this.ip_list,
                    bk_host_innerip__bk_biz_id__in: this.bizModel
                };
                this.$http.post(url, params).then(response => {
                    this.pfm_data_list = response.data.data;
                    this.elements = [];
                    for (let i = 0; i < this.pfm_data_list.length; i++) {
                        this.elements.push({element_name: 'pfm' + i});
                        window.setTimeout(() => {
                            this.generate_graph('pfm' + i, this.pfm_data_list[i])
                        }, 500);
                    }
                }).catch(error => {
                        console.log(error)
                    }
                );
            }
        },
        mounted() {
            this.get_biz();
        },
        watch: {
            bizModel() {
                this.display_performance();
            }
        }
    })
</script>

<style>
    .select {
        margin-left: 25%;
        margin-top: 20px;
        width: 50%;
    }

</style>